@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  font-family: 'Noto Serif JP', sans-serif;
  background-color: #fffefd;
  height: 40px;
  font-size: 20px;
}

body {
  text-align: center;
}

input {
  width: 600px;
}

textarea {
  width: 600px;
  height: 50px;
}

ul {
  list-style: none;
}